@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Mega Desk Web Application </h1>

    <img src="https://png.pngtree.com/png-vector/20190130/ourlarge/pngtree-cartoon-desk-computer-chair-element-design-png-image_578946.jpg" alt="Desk">
</div>

@*<div class="containerImage">

        <img src="https://png.pngtree.com/png-vector/20190130/ourlarge/pngtree-cartoon-desk-computer-chair-element-design-png-image_578946.jpg" alt="Desk" >
        <div class="top-right">Mateo Doda</div>

    </div>*@
